#! /usr/bin/env ruby

######### Change These For Your Install! ###########
TRACKER_GIT_HOOK_HOME = '/home/git/tracker-git-hook'
PROJECT_NAME = 'your_project_name'
####################################################

UNTRACKED_CONFIG_DIRS = TRACKER_GIT_HOOK_HOME + '/untracked_configs'
CONFIG_DIR = UNTRACKED_CONFIG_DIRS + '/' + PROJECT_NAME

require TRACKER_GIT_HOOK_HOME + '/lib/tracker/git_hooks'
include Tracker::GitHooks

old_rev, new_rev, ref = STDIN.read.split(" ")

Configuration.load(CONFIG_DIR)
StoryUpdater.new(old_rev, new_rev, ref).parse.send_changes
